# URL base da API do backend principal (FastAPI - PMD, Login)
VITE_API_URL=http://arcanus.vps-kinghost.net:25567
VITE_API_BASE_URL=http://arcanus.vps-kinghost.net:25567

# URL base da API do backend de abastecimento (Spring Boot)
VITE_SUPPLY_API_URL=http://arcanus.vps-kinghost.net:8081
VITE_SUPPLY_API_BASE_URL=http://arcanus.vps-kinghost.net:8081
